.button-login {
    width: 200px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.button-login__submit {
    padding: 10px 30px;
    border: 1px solid #ede4dc;
    border-radius: 3px;
    cursor: pointer;
    color: #8b7969;
    background: #f4f0f0;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
    font-family: "Kiwi Maru", serif;
}

.button-login__submit-link {
    text-decoration: none;
}

.button-login__submit:hover {
    background: #ccad91;
}

.admin-container {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    margin: 10px auto;
    padding: 20px;
    border-top: 1px solid #ccad91;
    box-sizing: border-box;
}

.admin-ttl {
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
    color: #8b7969;
    font-family: "Kiwi Maru", serif;
}

.search-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: left;
    margin-bottom: 10px;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-left: 0 auto;
}

.search-content__item {
    list-style: none;
    margin: 0 auto;
    min-width: 150px;
}

.search-content__item-input {
    width: 100%;
    padding: 11px;
    box-sizing: border-box;
    font-family: "Kiwi Maru", serif;
    box-sizing: border-box;
    border: 1px solid #ede4dc;
    color: #8b7969;
    border-radius: 3px;
}

.search-content__item--name {
    width: 400px;
}

.search-content__item-select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    font-family: "Kiwi Maru", serif;
    border: 1px solid #ede4dc;
    color: #8b7969;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
}

.search-content--category {
    width: 250px;
}

.custom-button-select {
    position: relative;
    width: 100%;
}

.custom-button-select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(139, 121, 105, 0.7);
}

.custom-button-select select {
    cursor: pointer;
    font-size: 14px;
    color: rgba(139, 121, 105, 0.7);
    border: 1px solid #ede4dc;
    border-radius: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; /* カレンダーのアイコンを非表示 */
}

.custom-date-input {
    position: relative;
    display: inline-block;
}

.custom-date-input input [type="date"] {
    width: 100%;
}

.custom-calendar__button {
    color: rgba(139, 121, 105, 0.7);
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 19.5%;
    right: 23%;
}

.search-button {
    width: 100px;
    text-align: center;
}

.search-button__submit {
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    background: #8b7969;
    border: none;
    font-family: "Kiwi Maru", serif;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 50px;
}

.search-button__reset {
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    font-family: "Kiwi Maru", serif;
    cursor: pointer;
    background: #ccad91;
    border-radius: 3px;
    margin-left: 80px;
}

.search-button__submit:hover,
.search-button__reset:hover {
    background: #a58b72;
}

.container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 92%;
    margin: 0 auto;
}

.export {
    display: flex;
    align-items: center;
}

.export-button {
    padding: 10px 20px;
    background-color: #f9e9db;
    color: #8b7969;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Kiwi Maru", serif;
    text-decoration: none;
}

.export-button:hover {
    background-color: #c7b19b;
}

.pagination {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #c7b19b;
}

.pagination a,
.pagination span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    text-decoration: none;
    color: #8b7969;
    font-size: 14px;
    font-family: "Kiwi Maru", serif;
    cursor: pointer;
    box-sizing: border-box;
}

.current {
    font-weight: bold;
    color: #584f46;
    background: #f6d9bd;
}

.pagination a:hover {
    background-color: #c7b19b;
    color: #8b7969;
}

.table {
    width: 92%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid #ede4dc;
}

.table-content {
    width: 100%;
}

.table-content__items {
    border-bottom: 1px solid #ede4dc;
}

.table-content__items-header {
    padding: 20px;
    color: #fff;
    font-size: 18px;
    background: #8b7969;
    font-weight: bold;
    font-family: "Kiwi Maru", serif;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    border-left: 1px solid #ede4dc;
}

.table-content__items-content {
    padding: 10px;
    color: #8b7969;
    font-size: 18px;
    font-weight: 400;
    font-family: "Kiwi Maru", serif;
    text-align: center;
    border-left: 1px solid #ede4dc;
    border-right: 1px solid #ede4dc;
}

.table-button {
    width: 200px;
    text-align: center;
}

.table-button__modal {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    background: #ccad91;
    border: 1px solid #ede4dc;
    border-radius: 3px;
    font-family: "Kiwi Maru", serif;
    text-decoration: none;
}

.table-button__modal:hover {
    background-color: #c7b19b;
}

.modal-content {
    background-color: #fff;
}

.modal-header {
    margin: 0 auto;
}

.modal-header-ttl {
    text-align: center;
    color: #8b7969;
    font-family: "Kiwi Maru", serif;
    font-size: 40px;
}

.modal-body {
    text-align: center;
    color: #8b7969;
    font-family: "Kiwi Maru", serif;
    line-height: 2;
    font-size: 26px;
}

.modal-footer {
    margin: 0 auto;
}

.button-delete {
    padding: 10px 30px;
    font-family: "Kiwi Maru", serif;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #fa4c4c;
}
